{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{{ asset('js/javascript.js') }}"></script>
{% endblock %}

{% block body %}

{{ parent() }}

<div class="container mTop30 blackColor">
    {{ form_start(form) }}
    <div class="caracGenerales toggleInput">
        <div class="row control">
            <div class="col-md-12 mBottom15 bgLightDark whiteColor">
                <i class="chevronForm fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                <h3 class="text-right bandeauForm">Caractéristiques générales</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 formCustom" data-id="1">
                {{ form_row(form.type_id) }}
            </div>
            <div class="col-md-6 formCustom" data-id="2">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 formCustom" data-id="3">
                {{ form_row(form.detection) }}
            </div>
            <div class="col-md-6 formCustom" data-id="4">
                {{ form_row(form.discovery) }}
            </div>
        </div>
    </div>

    <div class="caracPosition toggleInput mTop30">
        <div class="row control">
            <div class="col-md-12 mTop15 mBottom15 bgLightDark whiteColor">
                <i class="chevronForm fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                <h3 class="text-right bandeauForm">Position de l'astre</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 formCustom">
                {{ form_row(form.ra) }}
            </div>
            <div class="col-md-6 formCustom">
                {{ form_row(form.decl) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 formCustom">
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.distance) }}
                    </div>
                    <div class="col-md-4 formCustom posSelectForm">
                        {{ form_row(form.parsecs) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="caracPhysique toggleInput mTop30">
        <div class="row control">
            <div class="col-md-12 mTop15 mBottom15 bgLightDark whiteColor">
                <i class="chevronForm fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                <h3 class="text-right bandeauForm">Caractéristiques physiques</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 formCustom">
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.radius) }}
                    </div>
                    <div class="col-md-4 posSelectForm">
                        {{ form_row(form.Rt) }}
                    </div>
                </div>

            </div>
            <div class="col-md-4 formCustom">
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.masse) }}
                    </div>
                    <div class="col-md-4 posSelectForm">
                        {{ form_row(form.Mt) }}
                    </div>
                </div>

            </div>
            <div class="col-md-4 formCustom">
                {{ form_row(form.density) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                 <div class="buttonLink mBottom20 mTop15" id="calculDensity">Calculer la densité</div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 formCustom">
                {{ form_row(form.molecules) }}
            </div>
            <div class="col-md-4 formCustom">
                {{ form_row(form.age) }}
            </div>
            <div class="col-md-4 formCustom">
                {{ form_row(form.metallicity) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 formCustom">
                {{ form_row(form.temperature) }}
            </div>
            <div class="col-md-4 formCustom">
                {{ form_row(form.spectral_type) }}
            </div>
            <div class="col-md-4 formCustom">
                {{ form_row(form.vari) }}
            </div>
        </div>
    </div>


    <div class="caracOrbitales toggleInput mTop30">
        <div class="row control">
            <div class="col-md-12 mTop15 mBottom15 bgLightDark whiteColor">
                <i class="chevronForm fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                <h3 class="text-right bandeauForm">Caractéristiques orbitales</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 formCustom">
                <div class="form-group" id="host_name_div" style="display">
                  <label class="control-label" for="host_name">Nom de l'hôte</label>
                  <input type="text" id="host_name" name="host_name" class="form-control">
                </div>
                {{ form_row(form.rotation_id, { 'attr': { 'readonly': 'true' } }) }}
            </div>
            <div class="col-md-4 formCustom">
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.axis) }}
                    </div>
                    <div class="col-md-4 posSelectForm">
                        {{ form_row(form.UA) }}
                    </div>
                </div>

            </div>
            <div class="col-md-4 formCustom">
                <div class="row">
                    <div class="col-md-8">
                        {{ form_row(form.period) }}
                    </div>
                    <div class="col-md-4 posSelectForm">
                        {{ form_row(form.jours) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 formCustom">
                {{ form_row(form.excentricity) }}
            </div>
            <div class="col-md-4 formCustom">
                {{ form_row(form.inclinaison) }}
            </div>
            <div class="col-md-4 formCustom">
                {{ form_row(form.omega) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 formCustom">
                {{ form_row(form.tref) }}
            </div>
            <div class="col-md-4 formCustom">
                {{ form_row(form.seff) }}
            </div>
            <div class="col-md-4">
                <div class="buttonLink" id="calculSeff">Calcul du Seff</div>
            </div>
        </div>
    </div>

    {{ form_widget(form) }}
    <div class="row">
        <div class="col-md-12 text-center mTop30 mBottom30">
            <input class="buttonLink" type="submit" value="Editer cet astre" />
    {{ form_end(form) }}
            {{ form_start(delete_form, { 'attr' : { 'class': 'displayInlineBlock' } }) }}
                <input class="buttonLink" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
            <a class="buttonLink" href="{{ path('catalogue_index') }}">Retour</a>
        </div>
    </div>
</div>



    <ul>
        <li>
            <a href="{{ path('catalogue_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
