{% extends 'base.html.twig' %}
{% block title %}Catalogue{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap-table/src/bootstrap-table.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap-table/src/extensions/click-edit-row/bootstrap-table-click-edit-row.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bootstrap-table/src/bootstrap-table.js') }}"></script>
    <script src="{{ asset('bootstrap-table/src/extensions/toolbar/bootstrap-table-toolbar.js') }}"></script>
    <script src="{{ asset('bootstrap-table/src/extensions/key-events/bootstrap-table-key-events.js') }}"></script>
    <script src="{{ asset('bootstrap-table/src/extensions/click-edit-row/bootstrap-table-click-edit-row.js') }}"></script>
    <!-- <script src="{{ asset('js/EventBootStrapTable.js') }}"></script> -->
    <script src="https://code.jquery.com/jquery-1.7.js" integrity="sha256-fBiF7IYg9AoQ0EWUjT+fe4+cT3vS/x3ftIap8n6V4+M="   crossorigin="anonymous"></script>
    <script src="http://spin.js.org/spin.min.js"></script>
{% endblock %}

{% block body %}
{{ parent() }}
<div class="container">
    {% if app.user %}
        <div class="text-right">
            <a class="buttonLink mTop30" href="{{ path('catalogue_new') }}">Ajouter un astre</a>
        </div>
    {% endif %}
    <table id="table"
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    data-advanced-search="true"
    data-id-table="advancedTable"
    data-show-columns="true"
    data-expanded="true"
    data-show-export="true"
    data-url="{{app.request.getBaseURL()}}/catalogue/data.json">
    <thead>
        <tr>
            <th class="text-center" data-field="name" data-sortable="true">Nom</th>
            <th class="text-center" data-field="type_id.name" data-sortable="true">Catégorie</th>
            <th class="text-center" data-field="spectral_type" data-sortable="true">Type de spectre</th>
            <th class="text-center" data-field="masse" data-sortable="true">Masse</th>
            <th class="text-center" data-field="radius" data-sortable="true">Rayon</th>
            <th class="text-center" data-field="period" data-sortable="true">Période</th>
            <th class="text-center" data-field="axis" data-sortable="true">Axe</th>
            <th class="text-center" data-field="excentricity" data-sortable="true">Excenticité</th>
            {% if app.user %}
              <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">
                Action
              </th>
              {% else %}
              <th data-field="action" data-formatter="actionFormatter2" data-events="actionEvents">
                Action
              </th>
            {% endif %}
  </table>
  <!--- PUB -->
  {% if getPub(1) %}
      <hr class="hr"/>
      <p class="">Liens sponsorisés:</p>
  {% endif %}
  <div class="row">
    {% for pub in getPub(1) %}
      <a href="{{ pub.link }}"class="col-md-6 mBottom10">
        <img class="img-responsive margin0-auto" src="{{asset(pub.picturePath)}}"/>
      </a>
    {% endfor %}
  </div>
  {% if app.user %}
  <div class='txtAlign'>
    <a href="{{ path('publicity_index') }}" class="buttonLink mTop5">Emplacement n°1</a>
  </div>
  {% endif %}
  <script>
    function actionFormatter(value, row, index) {
        return [
            '<a class="like" href="'+row.id+'" title="Like">',
            '<i class="glyphicon glyphicon-eye-open"></i>',
            '</a>',
            '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
            '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',
        ].join('');
}
function actionFormatter2(value, row, index)
{
  return [
      '<a class="like" href="'+row.id+'" title="Like">',
      '<i class="glyphicon glyphicon-eye-open"></i>',
      '</a>',
  ].join('');
}
    window.actionEvents = {
      'click .like': function (e, value, row, index) {
      },
      'click .edit': function (e, value, row, index) {
          window.location.replace('http://extrasolar.fr/admin/catalogue/'+row.id+'/edit');
      },
      'click .remove': function (e, value, row, index) {
      }
  }
  </script>
</div>
{% endblock %}