{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <h1>Bodie</h1>

    {% if body.RotationId %}
        {{ body.RotationId.name }}
    {% endif %}

    {{ body.TypeId.name }}

    {% for article in articles %}
        {{ article.postTitle }}<br /><br />
    {% endfor %}

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ body.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ body.name }}</td>
            </tr>
            <tr>
                <th>Ra</th>
                <td>{{ body.ra }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ body.distance }}</td>
            </tr>
            <tr>
                <th>Masse</th>
                <td>{{ body.masse }}</td>
            </tr>
            <tr>
                <th>Radius</th>
                <td>{{ body.radius }}</td>
            </tr>
            <tr>
                <th>Density</th>
                <td>{{ body.density }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ body.age }}</td>
            </tr>
            <tr>
                <th>Seff</th>
                <td>{{ body.seff }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ body.temperature }}</td>
            </tr>
            <tr>
                <th>Molecules</th>
                <td>{{ body.molecules }}</td>
            </tr>
            <tr>
                <th>Update_at</th>
                <td>{{ body.updateat }}</td>
            </tr>
            <tr>
                <th>Discovery</th>
                <td>{% if body.discovery %}{{ body.discovery|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Detection</th>
                <td>{{ body.detection }}</td>
            </tr>
            <tr>
                <th>Decl</th>
                <td>{{ body.decl }}</td>
            </tr>
            <tr>
                <th>Metallicity</th>
                <td>{{ body.metallicity }}</td>
            </tr>
            <tr>
                <th>Spectral_type</th>
                <td>{{ body.spectraltype }}</td>
            </tr>
            <tr>
                <th>Vari</th>
                <td>{{ body.vari }}</td>
            </tr>
            <tr>
                <th>Axis</th>
                <td>{{ body.axis }}</td>
            </tr>
            <tr>
                <th>Period</th>
                <td>{{ body.period }}</td>
            </tr>
            <tr>
                <th>Excentricity</th>
                <td>{{ body.excentricity }}</td>
            </tr>
            <tr>
                <th>Inclinaison</th>
                <td>{{ body.inclinaison }}</td>
            </tr>
            <tr>
                <th>Omega</th>
                <td>{{ body.omega }}</td>
            </tr>
            <tr>
                <th>Tref</th>
                <td>{{ body.tref }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catalogue_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('catalogue_edit', { 'id': body.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
