{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bodie</h1>

    {% if body.RotationId %}
        {{ body.RotationId.name }}
    {% endif %}

    {{ body.TypeId.name }}

    {% for article in articles %}
        {{ article.postTitle }}<br /><br />
    {% endfor %}


<header id="header" class="header-blog" style="background-image: url(http://localhost:8888/blog/wp-content/themes/illdy/layout/images/blog/blog-header.png);background-attachment: fixed;">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-8">

                    <a href="http://localhost:8888/blog" title="Extrasolar" class="header-logo">Extrasolar</a>

                </div><!--/.col-sm-2-->
                <div class="col-sm-10 col-xs-4">
                    <nav class="header-navigation">
                        <ul class="clearfix">
                            <li id="menu-item-1157" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://localhost:8888"><span>Portail</span></a></li>
                            <li id="menu-item-1156" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://localhost:8888/catalogue"><span>Catalogue</span></a></li>
                            <li id="menu-item-1146" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"><a href="http://localhost:8888/blog/"><span>Blog</span></a></li>
                            <li id="menu-item-1147" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://localhost:8888/blog/communaute/"><span>Communauté</span></a></li>
                            <li id="menu-item-1148" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://localhost:8888/blog/contact/"><span>Contact</span></a></li>
                        </ul><!--/.clearfix-->
                    </nav><!--/.header-navigation-->
                    <button class="open-responsive-menu"><i class="fa fa-bars"></i></button>
                </div><!--/.col-sm-10-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.top-header-->
    <nav class="responsive-menu">
        <ul>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://localhost:8888"><span>Portail</span></a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://localhost:8888"><span>Catalogue</span></a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"><a href="http://localhost:8888/blog/"><span>Blog</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://localhost:8888/blog/communaute/"><span>Communauté</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://localhost:8888/blog/contact/"><span>Contact</span></a></li>
        </ul>
    </nav><!--/.responsive-menu-->
    <div class="bottom-header blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ body.name }}</h2>
                </div><!--/.col-sm-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.bottom-header.blog-->
</header><!--/#header-->

<div class="container mTop30">
    <div class="row">
        <div class="col-md-5">
            <img src="{{ asset('img/sun.png') }}" class="img-responsive displayBlock margin0-auto"  alt="" style="width: 90%">
        </div>
        <div class="col-md-7">
            <h2>{{ body.typeId }}</h2>
            <div class="row">
                <div class="col-md-6">
                    Distance : {{ body.distance }}<br />
                    Age : {{ body.age }}
                </div>
                <div class="col-md-6">
                    Masse : {{ body.masse }}
                </div>
            </div>
        </div>
    </div>
</div>


    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ body.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ body.name }}</td>
            </tr>
            <tr>
                <th>Ra</th>
                <td>{{ body.ra }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ body.distance }}</td>
            </tr>
            <tr>
                <th>Masse</th>
                <td>{{ body.masse }}</td>
            </tr>
            <tr>
                <th>Radius</th>
                <td>{{ body.radius }}</td>
            </tr>
            <tr>
                <th>Density</th>
                <td>{{ body.density }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ body.age }}</td>
            </tr>
            <tr>
                <th>Seff</th>
                <td>{{ body.seff }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ body.temperature }}</td>
            </tr>
            <tr>
                <th>Molecules</th>
                <td>{{ body.molecules }}</td>
            </tr>
            <tr>
                <th>Update_at</th>
                <td>{{ body.updateat }}</td>
            </tr>
            <tr>
                <th>Discovery</th>
                <td>{% if body.discovery %}{{ body.discovery|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Detection</th>
                <td>{{ body.detection }}</td>
            </tr>
            <tr>
                <th>Decl</th>
                <td>{{ body.decl }}</td>
            </tr>
            <tr>
                <th>Metallicity</th>
                <td>{{ body.metallicity }}</td>
            </tr>
            <tr>
                <th>Spectral_type</th>
                <td>{{ body.spectraltype }}</td>
            </tr>
            <tr>
                <th>Vari</th>
                <td>{{ body.vari }}</td>
            </tr>
            <tr>
                <th>Axis</th>
                <td>{{ body.axis }}</td>
            </tr>
            <tr>
                <th>Period</th>
                <td>{{ body.period }}</td>
            </tr>
            <tr>
                <th>Excentricity</th>
                <td>{{ body.excentricity }}</td>
            </tr>
            <tr>
                <th>Inclinaison</th>
                <td>{{ body.inclinaison }}</td>
            </tr>
            <tr>
                <th>Omega</th>
                <td>{{ body.omega }}</td>
            </tr>
            <tr>
                <th>Tref</th>
                <td>{{ body.tref }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('catalogue_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('catalogue_edit', { 'id': body.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    {% if body.RotationId %}
        {{ body.RotationId.name }} <br />
    {% endif %}

    {{ body.TypeId.name }} <br />

    <br />
    <br />
    <br />
    <br />

    Les articles<br />

    {% for article in articles %}
        {{ article.postTitle }}<br /><br />
    {% endfor %}

{% endblock %}
