<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/themesite/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/helpers.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('../../../../../blog/wp-content/themes/illdy/layout/css/main.css') }}">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css" />
{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% block javascripts %}
<!-- jQuery -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

<!-- JS POUR SYSTEME SOLAIRE -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='js/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script>
<script src="{{ asset('js/equalHeight.js') }}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>


{% endblock %}
</head>

<body>
{% block body %}
<header id="header" class="header-blog" style="background-image: url(http://localhost:8888/blog/wp-content/uploads/2017/02/background-space.jpg);background-attachment: fixed;">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-8">

                    <a href="http://localhost:8888/blog" title="Extrasolar" class="header-logo">Extrasolar</a>

                </div><!--/.col-sm-2-->
                <div class="col-sm-10 col-xs-4">
                    <nav class="header-navigation">
                        <ul class="clearfix">
                            <li id="menu-item-1157" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://localhost:8888"><span>Portail</span></a></li>
                            <li id="menu-item-1156" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://localhost:8888/catalogue"><span>Catalogue</span></a></li>
                            <li id="menu-item-1146" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"><a href="http://localhost:8888/blog/"><span>Blog</span></a></li>
                            <li id="menu-item-1147" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://localhost:8888/blog/communaute/"><span>Communauté</span></a></li>
                            <li id="menu-item-1148" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://localhost:8888/blog/contact/"><span>Contact</span></a></li>
                        </ul><!--/.clearfix-->
                    </nav><!--/.header-navigation-->
                    <button class="open-responsive-menu"><i class="fa fa-bars"></i></button>
                </div><!--/.col-sm-10-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.top-header-->
    <nav class="responsive-menu">
        <ul>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://localhost:8888"><span>Portail</span></a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://localhost:8888"><span>Catalogue</span></a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home active"><a href="http://localhost:8888/blog/"><span>Blog</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://localhost:8888/blog/communaute/"><span>Communauté</span></a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://localhost:8888/blog/contact/"><span>Contact</span></a></li>
        </ul>
    </nav><!--/.responsive-menu-->
    <div class="bottom-header blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>{{ title }}</h2>
                </div><!--/.col-sm-12-->
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.bottom-header.blog-->
</header><!--/#header-->

    {% endblock %}

</body>
</html>
