{% extends 'base.html.twig' %}
{% block title %}Type{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-table.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-table.js') }}"></script>
    <script src="{{ asset('extensions/toolbar/bootstrap-table-toolbar.js') }}"></script>
    <script src="{{ asset('js/javascript.js') }}"></script>
{% endblock %}

{% block body %}

{{ parent() }}

    <div class="container">
        <table id="table"
        data-toggle="table"
        data-show-columns="true">
        <thead>
            <tr>
                <th class="text-center" data-field="image" data-sortable="true">Image</th>
                <th class="text-center" data-field="ID" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">Nom</th>
                <th data-field="catégorie" data-sortable="true">Catégorie</th>
                <th data-field="description" data-sortable="true">Description</th>
                <th data-field="Actions" data-sortable="false">Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="titleBootstrap"><span class="posTdBootstrap">{% if type.picturePath %}<img class="img-responsive margin0-auto vignette" src="{{ asset(type.picturePath) }}" alt='Image représentant la catégorie'/>{% endif %}</span></td>
            <td class="titleBootstrap"><a href="{{ path('type_show', { 'id': type.id }) }}">{{ type.id }}</a></td>
            <td class="titleBootstrap"><span class="posTdBootstrap">{{ type.name }}</span></td>
            <td class="titleBootstrap"><span class="posTdBootstrap">{{ type.categorie }}</span></td>
            <td class="titleBootstrap"><span class="posTdBootstrap">{{ type.description }}</span></td>
            <td class="titleBootstrap">
              <a class="posTdBootstrap" href="{{ path('publicity_edit', { 'id': type.id }) }}">Modifier</a>
            </td>
        </tr>
        </tbody>
        </table>

        <a class="ft14 buttonLink mTop15 mBottom30" href="{{ path('type_edit', { 'id': type.id }) }}">Editer</a>
        <a class="buttonLink mTop30" href="{{ path('type_new') }}">Ajouter un type</a>
        <a class="ft14 buttonLink mTop15 mBottom30" href="{{ path('type_index') }}">Retour</a>

    </div>

{% endblock %}
