{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-6">
                <h1 class="page-header">Dernières planètes ajoutées
                </h1>
            </div>
            <div class="col-lg-6">
                <h1 class="page-header">Derniers articles du blog
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row col-md-6 col-xs-12">
          <div class="col-md-12 col-xs-12 portfolio-item randomstar lined">
              <a href="#" >
                  <img class="img-responsive moved" src="http://placehold.it/100x100" alt="">
              </a>
              <div class="planet-informations">
                <h5>NOM PLANETES</h5>
                <p>Infos un peu plus détaillées qui<br>donnent trop envie</p>
            </div>
          </div>
          {% for body in bodies %}
            <div class="col-md-12 col-xs-12 portfolio-item randomstar ">
                <a href="{{ path('catalogue_show', { 'id': body.id }) }}">
                    <img class="img-responsive" src="{% if body.typeID.picture %}{{body.typeID.picture}}{% endif %}http://placehold.it/100x100" alt="">
                </a>
                  <h5>{{body.name}}</h5>
            </div>
          {% endfor %}

        </div>
        <div class="row col-md-6">

          {% for article in articles %}
            <div data-mh="my-group" class="col-md-16 mTop30">
                <h4 class="blackColor ft18 text-uppercase"><b>{{ article.postTitle }}</b></h4>
                <p><i class="paddingX5 fa fa-user"></i> {{ article.userLogin }} <i class="paddingX5 fa fa-calendar"></i> {{ article.postDate|date("d/m/Y") }}</p>
                {% if article.postContent %}
                    <p>{{ article.postContent|striptags[:300] }}...</p>
                {% endif %}
                <a href="{{ article.guid }}" class="buttonLink mTop5">Lire l'article</a>
            </div>
          {% endfor %}
        </div>
        <!-- /.row -->
</div>

{% endblock %}
