{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap-table/src/bootstrap-table.css">
<link rel="stylesheet" href="http://issues.wenzhixin.net.cn/bootstrap-table/assets/examples.css">
<script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/jquery.min.js"></script>
<script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap-table/src/bootstrap-table.js"></script>
<script src="http://issues.wenzhixin.net.cn/bootstrap-table/assets/bootstrap-table/src/extensions/toolbar/bootstrap-table-toolbar.js"></script>
<script src="http://issues.wenzhixin.net.cn/bootstrap-table/ga.js"></script>
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Bodies list</h1>
    <table id="table"
           data-toggle="table"
           data-pagination="true"
           data-search="true"
           data-advanced-search="true"
           data-id-table="advancedTable">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">Id</th>
                <th>Name</th>
                <th>Ra</th>
                <th>Distance</th>
                <th>Masse</th>
                <th>Radius</th>
                <th>Density</th>
                <th>Age</th>
                <th>Seff</th>
                <th>Temperature</th>
                <th>Molecules</th>
                <th>Update_at</th>
                <th>Discovery</th>
                <th>Detection</th>
                <th>Decl</th>
                <th>Metallicity</th>
                <th>Spectral_type</th>
                <th>Vari</th>
                <th>Axis</th>
                <th>Period</th>
                <th>Excentricity</th>
                <th>Inclinaison</th>
                <th>Omega</th>
                <th>Tref</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bodie in bodies %}
            <tr>
                <td><a href="{{ path('catalogue_show', { 'id': bodie.id }) }}">{{ bodie.id }}</a></td>
                <td>{{ bodie.name }}</td>
                <td>{{ bodie.ra }}</td>
                <td>{{ bodie.distance }}</td>
                <td>{{ bodie.masse }}</td>
                <td>{{ bodie.radius }}</td>
                <td>{{ bodie.density }}</td>
                <td>{{ bodie.age }}</td>
                <td>{{ bodie.seff }}</td>
                <td>{{ bodie.temperature }}</td>
                <td>{{ bodie.molecules }}</td>
                <td>{{ bodie.updateat }}</td>
                <td>{% if bodie.discovery %}{{ bodie.discovery|date('Y-m-d') }}{% endif %}</td>
                <td>{{ bodie.detection }}</td>
                <td>{{ bodie.decl }}</td>
                <td>{{ bodie.metallicity }}</td>
                <td>{{ bodie.spectraltype }}</td>
                <td>{{ bodie.vari }}</td>
                <td>{{ bodie.axis }}</td>
                <td>{{ bodie.period }}</td>
                <td>{{ bodie.excentricity }}</td>
                <td>{{ bodie.inclinaison }}</td>
                <td>{{ bodie.omega }}</td>
                <td>{{ bodie.tref }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('catalogue_show', { 'id': bodie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('catalogue_edit', { 'id': bodie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
    <ul>
        <li>
            <a href="{{ path('catalogue_new') }}">Create a new bodie</a>
        </li>
    </ul>
{% endblock %}
